{% for protocol, protocol_properties in devices[inventory_hostname]['protocols'].items() -%}
{% if protocol | lower == 'bgp' -%}
edit protocols bgp {{ protocol_properties['local-autonomous-system'] }}
{% for neighbor_name, neighbor_attributes in protocol_properties['neighbors'].items() -%}
set neighbor {{ neighbor_attributes['remote-ip'] }} remote-as {{ neighbor_attributes['remote-autonomous-system'] }}
set neighbor {{ neighbor_attributes['remote-ip'] }} descriptions {{ neighbor_attributes['description'] }}
{% endfor %}
{% endif %}
{% endfor %}
top
